*{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body{
    background-color: rgb(255, 0, 0);
}

p{

    background-color: rgba(255, 0, 0, 0.918);
    text-align: center;
    padding: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

nav{
    background-color: rgb(255, 0, 0);
    text-align: center;
    padding: 2%;
}

.batman{
    background-color: rgb(202, 15, 15);

}
